.treeSelect > div {
  padding: 5px 16px !important;
  border-radius: 6px !important;
}
.treeSelect {
  width: 100%;
  span {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    text-align: left !important;
  }
}
