.header {
  height: 81px;
  background: var(--blue);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  z-index: 1;
  position: relative;
  overflow: visible; // ✅ allows dropdowns to escape
  // z-index: 10;
}
.header {
}
