.select > div {
  padding: 5px 16px !important;
  border-radius: 6px !important;
  height: 48px;
}
.select {
  width: 100%;
  height: auto;
  height: 48px;
  span {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    text-align: left !important;
  }
}
.select_xs > div {
  padding: 5px 16px !important;
  border-radius: 6px !important;
  height: 26px;
}
.select_xs {
  width: 100%;
  height: auto;
  height: 26px;
  span {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    text-align: left !important;
  }
}

.select_sm > div {
  padding: 5px 16px !important;
  border-radius: 6px !important;
  height: 34px;
}
.select_sm {
  width: 100%;
  height: auto;
  height: 34px;
  span {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    text-align: left !important;
  }
}
.select_md > div {
  padding: 5px 16px !important;
  border-radius: 6px !important;
  height: 42px;
}
.select_md {
  width: 100%;
  height: auto;
  height: 42px;
  span {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    text-align: left !important;
  }
}
.select_add_button {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 8px;
  justify-content: center;

  button {
    width: 200px !important;
    padding: 5.5px;
  }
}
