 .ant-select-clear {
   display: flex !important;
   align-items: center;
   justify-content: center;
   right: 8px;
   display: none;
 }

 .sideBar .ant-menu-title-content {
   color: #828282;
 }

 .sideBar .ant-menu-item-selected {
   background-color: #deeaf6 !important;
   color: var(--darkBlueColor) !important;
 }

 .sideBar .ant-menu-item-selected svg path {
   stroke: var(--darkBlueColor);
 }

 .sideBar .ant-menu-item-selected .ant-menu-title-content a {
   font-weight: 500 !important;
 }

 .sideBar .ant-menu-item {
   padding-left: 10px !important;
   margin-block: 12px;
   border-radius: 4px;
 }

 .sideBar .ant-menu-submenu .ant-menu-submenu-title {
   padding-left: 10px !important;
 }

 .sideBar .ant-menu-submenu .ant-menu-item {
   padding-left: 34px !important;
 }

 .sideBar .ant-menu-item-selected .ant-menu-title-content {
   color: var(--darkBlueColor) !important;
 }

 .sideBar .ant-menu-title-content a {}

 .sideBar .ant-menu-submenu span {}

 .sideBar .ant-menu-inline {
   border-inline-end: 0 !important;
 }



 .ant-collapse {
   background-color: transparent;
   border: none;
 }

 .ant-collapse-item {
   border: none;
 }

 .ant-collapse-header {
   background-color: var(--blue);
   border: 1px solid var(--white);
   border-radius: 8px !important;
   padding: 10px 12px;
   display: flex !important;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   color: var(--white);
   font-size: 16px;

   svg {
     width: 20px;
     height: 20px;

   }

   .ant-collapse-expand-icon {
     margin-left: auto;
   }
 }

 .ant-collapse-expand-icon {
   margin-top: 4px;
 }

 .ant-collapse-content {
   position: absolute;
   top: 100%;
   left: 18px;
   width: 250px;
   overflow: visible;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .ant-collapse-content-box {
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   background-color: var(--blue);
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
 }

 .ant-tooltip-inner {
   background-color: #fff !important;
   color: black !important;
 }

 .ant-tooltip-inner a {
   color: black !important;
 }

 .ant-tooltip-arrow {
   display: none !important;
 }